name: Lint

on:
  push: {
    branches: [main]
  }
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'latest'

      - name: Install dependencies
        run: npm ci --prefer-offline --no-audit --silent || npm install --no-audit --silent

      - name: Run ESLint
        run: npm run lint
        env:
          CI: true
